/*estilos aplicados a la parte de contactos*/
@import '_variables';


.cartacontacto{
    margin-top: 5%;
    color: $color-cuerpos;
    background-color: #efe7e29a;
    border:0;
}

.contacts{
color: black;
}
