/*estilos aplicados solo para la pestaña de index*/
@import '_variables';

/*estilos aplicados para que se ven distintas algunas secciones en mobile y desktop*/
@mixin alturaancho($altura, $ancho) {
    height: $altura;
    width: $ancho;
}

.videoinicio{
    position: absolute;
    @include alturaancho(100%,  100%);
    object-fit: cover;
    z-index: -1;
  }
  
  @media (min-width: 992px) {
      .index{
          background-image: url(../multimedia/imagenes/pexels-artem-beliaikin-926569.svg);
          background-size:cover;
          background-repeat: no-repeat;
          background-attachment: fixed;  
      }

      .contactbody{
        background-image: url(../multimedia/imagenes/pexels-nataliya-vaitkevich-6033663.svg);
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment: fixed;  
    }

      .headcol{
          background-color: $color-cabeceras;
          margin: 0px;
      }   
  
      .cartainicio{
          margin-top: 5%;
          color: $color-cuerpos;
          background-color: #efe7e29a;
          border:0;
          border-radius: 10px;
          font-family: $letras;
      }
      
   .videoinicio{
    position: absolute;
    @include alturaancho(100%,  100%);
    object-fit: cover;
  }
  
  .iniciodesc{
    font-family: $letras;
  }
  
  .parrafini{
    display: none;
  }
  
    }
  
    @media (max-width: 991px) {
      .index{
          background-color: $color-cuerpos;
      }
      .headcol{
          background-color: $color-cabeceras;
          margin: 0px;
      }
  
      .cartainicio{
          display: none;
      }
      
      .videoinicio{
        display: none;
      }
  
     .parrafini{
      margin-top: 5%;
      background-color: $color-cuerpos;
      border:0;
     }
    
    }
  
  h1{
      font-size: 3rem;
  }
  
  body{
      flex-wrap: wrap;
      @include alturaancho(100%,  100%);
      cursor: url(../multimedia/logo/cursortenedor.svg), auto;
  }
  
  .logos{
    @include alturaancho(35px,  40px);
   
      transition: all 1s;
  }
  
  .logos:hover{
      transform: scale(1.3);
  }
  
  .seccionservicios{
      margin-top: 0%;
  }
  
  .contacinic{
      font-size: 30px;
      background-color: $color-botones;
  }
  
  .dentrocarta{
      margin-top: 0%;
  }
  
  
  .iniciodesc{
      color: black;
      display: flex;
      justify-content: center;
      padding-top: 10px;
      margin-bottom: 5px;
      font-family: 'Kanit', sans-serif;
  }
  
  .margmodalini{
      margin-top: 5%;
  }

  .servicesini{
        background: transparent;
        color: black !important;
    }