*{text-decoration: none;
    list-style: none;
margin: 0;
padding: 0;}

/*index*/

body{
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.logos{
    height: 35px;
    width: 40px;
 
    transition: all 1s;
}

.logos:hover{
    transform: scale(1.3);
}

.seccionservicios{
    margin-top: 100px;
}

.index{
    background-image: url(multimedia/logo/fondoconiconos.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.headcol{
    background-color: #efe7e2;
    margin: 0px;
}

.iniciodesc{
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 40px; 
}

.contacto{
    list-style: none;
    color: #efe7e2;
    background-color: #af795D;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-bottom: 5px;
    height: 70px;
    width: 350px;
    border-radius: 6px;
    transition: all 1s;
}

.contacto:hover{
    transform: scale(1.3);
    background-color: transparent;
    color: black;
}

/*servicios*/

.services{
    background-color: #eeefef;
}

.descservice{
    margin-top: 100px;
}

/*galeria*/

.imggal{
    height: 95%;
    width: 100%;
    margin-top: 5px;
    margin-right: 0%;
    margin-left: 0%;
    /*transition: all 1s;*/
    transition: all 1s;
}

.imggal:hover{
    transform: scale(1.1);
}

.playlist{
    margin-left: 2%;
}

.conectores{
    height: 35px;
    width: 40px;
    display: flex;
    justify-content: center;
    margin-top: 100%;
    margin-left: 5%;
    transition: all 1s;
}

.contgale{
    margin-left: 0%;
}

/*nosotros*/

/*contacto*/
